@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  transition: background-color 0.8s ease, color 0.8s ease;
}
html, body, #root {
  min-height: 100vh;
  background-color: white; /* light */
}

.dark html,
.dark body,
.dark #root {
  background-color: #080C13; /* dark */
}
@layer base {
  body {
    @apply antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}


body {
  --sb-track-color: #080C13; 
  --sb-thumb-color: #4B5563;
  --sb-size: 5px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 2px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}


